body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #be9d9d;
}
#main-title{
    background-color: #113a13;
    color: white;
    text-align: center;
    padding: 20px;
}

nav{
    background-color: #333;
    text-align: center;
    padding: 10px;
}
.nav-link{
    color: rgb(158, 73, 73);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
.nav-link:hover {
    color: #4CAF50;
}
section {
    padding: 20px;
    text-align: center;
}