/* Step 2: Styling the Resume with CSS */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ca9a9a;;
}
h1{
    margin: 0;
}
header{
    text-align: center;
    margin-bottom: 20px;
}
header h1{
    font-size: 2.5em;
    margin-bottom: 0;
}
header p{
    font-size: 1.2em;
    color: #555;
}

section{
    background-color: #fff;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.01);
}
section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

ul {
    list-style-type: none;
    padding-left: 30px;
}
ul li{
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer{
    text-align: center;
    margin-top: 30px;
    font-size: 1em; 
}

/* Step 3: Making the Resume Responsive */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }
    section h2 {
        font-size: 1.5em;
    }
    ul {
        padding-left: 15px;
    }
}