.box-model{
    width: 300px;
    height: 150px;
    padding: 20px;
    border: 5px solid black;
    margin: 30px;
}
element{
    padding: 20px; 
    border: 1px solid orange;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 30px;
}
.margin{
    margin: 20px;
    margin-top: 30px;
    margin-right: 15px;
    border: 3px solid red;
}